*.pyc
mysite/db.sqlite3
mysite/test_db.sqlite3
openpyxl
*.csv
.*.swp
*_generated.*
test_dir
!test_dir/my_api.py
mysite/user/guest/python
mysite/user/guest/tables
!guest/python/my_api.py
!guest/python/__init__.pyc
!guest/python/*intercept.py
!guest/python/*slope.py
*.xlsx
*.xls
