<!DOCTYPE html>
<meta charset="utf-8">
<style type="text/css">
table {
  font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
table {
  margin: auto;
}
td, th {
  padding: 2px;
  text-align: center;
  border: 1px solid rgb(8,48,107);
}
th {
  background-color: rgb(8,81,156);
  color: white;
}
tr.alt td {
background-color: rgb(8,81,156);
 20   color: white;
}
.spaces {
    margin-bottom: 1cm;
}
</style>
<body>
<script src="http://d3js.org/d3.v3.js"></script>

<p class="spaces">
<center> <b> {{ top_header.0 }}</b> </center>
</p>
<p id="h0" ></p>

<script>

var json_data_0 = {{ json_data_0|safe }};
// var json_data_0 = [{"A": "aa, bb", "B": "cc"}]

d3.select("#h0").selectAll("table")
    .data( [json_data_0] )
  .enter().append("table")
    .call(recurse);

function recurse(sel) {
  // sel is a d3.selection of one or more empty tables
  sel.each(function(d) {
    // d is an array of objects
    var colnames,
        tds,
        table = d3.select(this);
    // obtain column names by gathering unique key names in all 1st level objects
    // following method emulates a set by using the keys of a d3.map()
    colnames = d                                                          // array of objects
        .reduce(function(p,c) { return p.concat(d3.keys(c)); }, [])       // array with all keynames
        .reduce(function(p,c) { return (p.set(c,0), p); }, d3.map())      // map with unique keynames as keys
        .keys();                                                          // array with unique keynames (arb. order)
    // colnames array is in arbitrary order
    // sort colnames here if required
    // create header row using standard 1D data join and enter()
    table.append("thead").append("tr").selectAll("th")
        .data(colnames)
      .enter().append("th")
        .text(function(d) { return d; });
    // create the table cells by using nested 2D data join and enter()
    // see also http://bost.ocks.org/mike/nest/
    tds = table.append("tbody").selectAll("tr")
        .data(d)                            // each row gets one object
      .enter().append("tr").selectAll("td")
        .data(function(d) {                 // each cell gets one value
          return colnames.map(function(k) { // for each colname (i.e. key) find the corresponding value
            return d[k] || "";              // use empty string if key doesn't exist for that object
          });
        })
      .enter().append("td");
    // cell contents depends on the data bound to the cell
    // fill with text if data is not an Array
    tds.filter(function(d) { return !(d instanceof Array); })
        .text(function(d) { return d; });
    // fill with a new table if data is an Array
    tds.filter(function(d) { return (d instanceof Array); })
        .append("table")
        .call(recurse);
  });
}
</script>


<p class="spaces">
<center> <b> {{ top_header.1 }}</b> </center>
</p>
<p id="h1" ></p>

<script>
var json_data_1 = {{ json_data_1|safe }};

d3.select("#h1").selectAll("table")
    .data( [json_data_1] )
  .enter().append("table")
    .call(recurse);
</script>

<p class="spaces">
<center> <b> {{ top_header.2 }}</b> </center>
</p>
<p id="h2" ></p>

<script>
var json_data_2 = {{ json_data_2|safe }};

d3.select("#h2").selectAll("table")
    .data( [json_data_2] )
  .enter().append("table")
    .call(recurse);
</script>

<p class="spaces">
<center> <b> {{ top_header.3 }}</b> </center>
</p>
<p id="h3" ></p>

<script>
var json_data_3 = {{ json_data_3|safe }};

d3.select("#h3").selectAll("table")
    .data( [json_data_3] )
  .enter().append("table")
    .call(recurse);
</script>
