<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <style type="text/css">
{% include "bootstrap_min.css" %}
{% include "sheet.css" %}
</style>

</head>


<body>

<table>

 <thead>
   <tr><th>


<div class="container">
  <div class="dropdown">
    <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
      A
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

      <li class="dropdown-submenu">
        <a href="#">Split...</a>
        <ul class="dropdown-menu">

          <li><a role="menuitem" tabindex="-1">
             <form action="/tables/x1y2/split/" method="get">
               <input type="checkbox" name="value" value="C2=A"}>C2=A<br>
               <input type="checkbox" name="value" value="C2=G">C2=G<br>
               <input type="submit" value="Go"> <br><br>
             </form>
          </a></li>

        </ul>

      <li class="dropdown-submenu">
        <a href="#">Join...</a>
        <ul class="dropdown-menu">

          <li><a role="menuitem" tabindex="-1">
             <form action="/tables/x1y2/join/" method="get">
               <input type="checkbox" name="value" value="C2=A"}>C2=A<br>
               <input type="checkbox" name="value" value="C2=G">C2=G<br>
               <input type="submit" value="Go"> <br><br>
             </form>
          </a></li>

        </ul>

    </ul>
 
  </div>
</div>


</th></tr>
 </thead>

 <td>
   <table>

    <thead>
        <tr>
            <th>

<div class="container">
  <div class="dropdown">
    <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
      A
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

      <li class="dropdown-nosubmenu">
        <a href="#">Demote</a>

      <li class="dropdown-nosubmenu" onclick="alert('promoted!');">
        <a href="#">Promote</a>

      <li class="dropdown-submenu">
        <a href="#">Split...</a>
        <ul class="dropdown-menu">

          <li><a role="menuitem" tabindex="-1">
             <form action="/tables/x1y2/split/" method="get">
               <input type="checkbox" name="value" value="C2=A"}>C2=A<br>
               <input type="checkbox" name="value" value="C2=G">C2=G<br>
               <input type="submit" value="Go"> <br><br>
             </form>
          </a></li>

        </ul>

      <li class="dropdown-submenu">
        <a href="#">Join...</a>
        <ul class="dropdown-menu">

          <li><a role="menuitem" tabindex="-1">
             <form action="/tables/x1y2/join/" method="get">
               <input type="checkbox" name="value" value="C2=T"}>C2=T<br>
               <input type="checkbox" name="value" value="C2=C">C2=C<br>
               <input type="submit" value="Go"> <br><br>
             </form>
          </a></li>

        </ul>

    </ul>
 
  </div>
</div>

      </th>
      <th>

                C

            </th>
            <th>

                T

            </th>
            <th>

                C3=G

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

                Pro

            </td>
            <td>

                Pro

            </td>
            <td>

                Pro

            </td>
            <td>

                Pro

            </td>
        </tr>
    </tbody>
    </tr>
    </td>

</table>

<script>
document.getElementByClassName("cell").checked = false; 
</script>
</body>
</html>
