<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>


    <meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>SciSheets</title>

<style type="text/css">
/*margin and padding on body element
  can introduce errors in determining
  element position and are not recommended;
  we turn them off as a foundation for YUI
  CSS treatments. */
body {
	margin:0;
	padding:0;
}
caption {
	margin-top: 1em;
        font-size: large;
}
</style>

 {% load static from staticfiles %}

<script type="text/javascript" src='{% static "yui/yui.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-ui/external/jquery/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-ui/jquery-ui.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "jquery-ui/jquery-ui.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "yui/yui.min.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "scitable/scisheets.css" %}'/>

<!--begin custom header content for this page-->
<style type="text/css">
/* custom styles for this example */
.yui-skin-sam .yui-dt-col-address pre { font-family:arial;font-size:100%; } /* Use PRE in first col to preserve linebreaks*/
</style>

<!--end custom header content for this example-->

</head>

<body class="yui-skin-sam">


<!-- =============================== -->
<div id="ClickMenus">
<ul style="width:100px;display:none" id="TableClickMenu">
	<li id="delete" >Delete</li>
	<li id="export" >Export</li>
	<li id="rename">Rename</li>
</ul>
<ul style="width:100px;display:none" id="ColumnClickMenu">
	<li id="append">Append</li>
	<li id="delete" >Delete</li>
	<li id="formula" >Formula</li>
	<li id="hide" >Hide</li>
	<li id="insert">Insert</li>
	<li id="move">Move</li>
	<li id="rename">Rename</li>
</ul>
<ul style="width:100px;display:none" id="NameColumnClickMenu">
	<li id="hide">Hide</li>
</ul>
<ul style="width:100px;display:none" id="RowClickMenu">
	<li id="append">Append</li>
	<li id="delete" >Delete</li>
	<li id="hide" >Hide</li>
	<li id="insert">Insert</li>
	<li id="move">Move</li>
</ul>
</div>

<div id="rename-dialog" style="width:100px;display:none;resize:both;overflow:auto" >
  <form>
    <fieldset>
      <label for="name" id="rename-dialog-label">New Name: </label>
      <input type="text" name="name" id="rename-dialog-name" value="xxx" size="1000" class="ui-widget-content">
    </fieldset>
  </form>
</div>

<div id="moverow-dialog" style="width:100px;display:none">
  <form>
    <fieldset>
      <label for="name" id="moverow-dialog-label">New Position: </label>
      <input type="text" name="name" id="moverow-dialog-name" class="ui-widget-content">
    </fieldset>
  </form>
</div>

<div id="export-dialog" style="width:100px;display:none;resize:both;overflow:auto" >
  <form>
    <fieldset>
      <label for="function-name" id="export-dialog-function-name-label">Function name: </label>
      <input type="text" name="function-name" id="export-dialog-function-name" size="1000" class="ui-widget-content">
    </fieldset>
    <fieldset>
      <label for="inputs" id="export-dialog-inputs-label">List of input columns: </label>
      <input type="text" name="inputs" id="export-dialog-inputs" size="1000" class="ui-widget-content">
    </fieldset>
    <fieldset>
      <label for="outputs" id="export-dialog-outputs-label">List of output columns: </label>
      <input type="text" name="outputs" id="export-dialog-outputs" size="1000" class="ui-widget-content">
    </fieldset>
  </form>
</div>


<!-- =============================== -->

<div id="TagReplacedByJS"></div>

<script type="text/javascript" src='{% static "scitable/scisheets.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/table_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/column_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/row_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/cell_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/table_setup.js" %}'> </script>
<!-- ========= Incorporate data from server ====================== -->
{% include "scitable_data.html" %}

</body>
</html>
