<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>


    <meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>SciSheets</title>

<style type="text/css">
/*margin and padding on body element
  can introduce errors in determining
  element position and are not recommended;
  we turn them off as a foundation for YUI
  CSS treatments. */
body {
	margin:0;
	padding:0;
}
caption {
	margin-top: 1em;
        font-size: large;
}
</style>

 {% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "yui/yui.min.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "jquery-ui/jquery-ui.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "scitable/menu.css" %}'/>

<script type="text/javascript" src='{% static "yui/yui.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-ui/external/jquery/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-ui/jquery-ui.js" %}'></script>

<!--begin custom header content for this example-->
<style type="text/css">
/* custom styles for this example */
.yui-skin-sam .yui-dt-col-address pre { font-family:arial;font-size:100%; } /* Use PRE in first col to preserve linebreaks*/
</style>

<!--end custom header content for this example-->

</head>

<body class="yui-skin-sam">


<!-- =============================== -->
<div id="ClickMenus">
<ul style="width:100px;display:none" id="TableClickMenu">
	<li id="rename">Rename</li>
	<li id="delete" >Delete</li>
</ul>
<ul style="width:100px;display:none" id="ColumnClickMenu">
	<li id="insert">Insert</li>
	<li id="delete" >Delete</li>
	<li id="hide" >Hide</li>
	<li id="rename">Rename</li>
	<li id="formula" >Formula</li>
</ul>
<ul style="width:100px;display:none" id="FirstColumnClickMenu">
	<li id="hide">Hide</li>
</ul>
<ul style="width:100px;display:none" id="RowClickMenu">
	<li id="delete" >Delete</li>
	<li id="insert">Insert</li>
	<li id="hide" >Hide</li>
</ul>
</div>


<!-- =============================== -->

<div id="scitable"></div>

<script type="text/javascript" src='{% static "scitable/scisheets.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/table_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/column_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/row_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/cell_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/table_setup.js" %}'> </script>
<!-- ========= Incorporate data from server ====================== -->
{% include "scitable_data.html" %}

</body>
</html>
