<script type="text/javascript"> 
/* Creates the object DataSource that contains server data */
function DataSource() {
  "use strict";
  var sciSheets = new SciSheets();
  this.tableCaption = "{{ table_caption }}";
  this.tableId = "{{ table_id }}";
  this.columnNames = [
  {% for col in column_names %}
    '{{ col }}'
    {% if col == final_column_name %}
     ];
    {% else %}
     ,
    {% endif %}
  {% endfor %}
  this.columnDefs = [
  {% for col in column_names %}
    {key: "{{ col }}", formatter: sciSheets.formatColumn("{{ col }}"), editor:  new YAHOO.widget.TextareaCellEditor()}
    {% if col == final_column_name %}
     ];
    {% else %}
     ,
    {% endif %}
  {% endfor %}
  this.dataSource = JSON.parse({{ data|safe }});
}
</script>
