<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Try JQuery Table Navigation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>


  <table id="mytable">
   <tr> 
          <td><span><div class="data">60</div></span></td> 
          <td><span>$10000</span></td>
          <td><span><div class="data">100%</div></span></td>
   </tr>
   <tr> 
          <td><span><div>60</div></span></td> 
          <td><span>$10000</span></td>
          <td><span><div>100%</div></span></td>
   </tr>
</table>

<p class="data">Click me!</p>

<script type ="text/javascript" src="try_table_navigation.js"> </script>
</body>
</html>
