<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>


    <meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Inline Cell Editing</title>

 {% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "yui/yui.min.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "jquery-ui/jquery-ui.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "scitable/menu.css" %}'/>

<script type="text/javascript" src='{% static "yui/yui.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery/jquery.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-ui/external/jquery/jquery.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-ui/jquery-ui.js" %}'></script>
<script type="text/javascript" src='{% static "scitable/scisheets.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/table_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/column_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/row_event.js" %}'> </script>
<script type="text/javascript" src='{% static "scitable/cell_event.js" %}'> </script>



<body>

<h1>Try Ajax</h1>


<!-- =============================== -->

<div id="scitable">

<script type="text/javascript" src='{% static "tryajax.js" %}'></script>

</div>
</body>
</html>

</script>

</div>
</body>
</html>
